/* App.css */
@import "tailwindcss";
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.btn {
  background: #1e293b;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.btn:hover {
  background: #334155;
}

.input {
  @apply w-full p-3 rounded-lg bg-[#020617] border border-gray-700 focus:border-cyan-400 outline-none transition;
}

.btn-main {
  @apply w-full py-3 rounded-lg bg-gradient-to-r from-cyan-400 to-purple-500 text-black font-semibold hover:scale-105 transition;
}

.btn-google {
  @apply w-full py-2 rounded-lg bg-white text-black font-medium hover:bg-gray-200 transition;
}